<template>
  <section class="oul">
    <div class="oul__container m-container-middle">
      <h3 class="m-title">
        Мои желания
      </h3>

      <span class="m-border"></span>


      <div class="oul__card">
        <div class="oul__card-container">
          <div class="oul__card-wrapper" v-for="(card, i) in value" :key="i">
            <img :src="card.image ? card.image : '/common-icon.png'" class="oul__card-img" />
            <div>
              <h6 class="oul__card-category">{{card.category}}</h6>
              <h4 class="oul__card-title">{{card.title}}</h4>
              <h4 class="oul__card-cost">

                <span v-if="card.currency === 'UAH'">₴</span>
                <span v-if="card.currency === 'USD'">$</span>
                {{card.price}}

              </h4>
            </div>
          </div>
        </div>

        </div>

    </div>
  </section>
</template>

<script lang="ts">
import {Vue, Prop, Component} from "nuxt-property-decorator";

@Component({})

export default class OwnUserList extends Vue {
  @Prop() value;

  created() {
    console.log('value', this.value);
  }

}

</script>

<style scoped lang="scss">
@import "assets/css/variables";

.oul {
  &__card {
    &-container {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
    }

    &-wrapper {
      max-width: 242px;
      display: flex;
      flex-direction: column;
      margin: 0 5px 60px 5px;


      @include for-large() {
        max-width: 160px;
        margin-bottom: 20px;
      }

      //@include for-small

      @media screen and (max-width: 640px) {
        max-width: 120px;
      }
    }

    &-img {
      margin-bottom: 20px;
      border-radius: 4px;
    }

    &-category {
      font-size: 12px;
      color: #C6C6C6;
      padding-bottom: 5px;
    }

    &-title {
      font-weight: 500;
      color: $color-blackmain;
      margin-bottom: 10px;
      line-height: 140%;
    }

    &-cost {
      color: $color-blackmain;
      line-height: 100%;
    }
  }

}
</style>