<template>
  <section class="user-main-page m-container-middle">
    <div class="m-wrapper">
      <user-wish-buttons/>
      <span class="m-border"></span>
      <user-add-slider-wishes :user-slider="true" :data="sliderList"/>
    </div>

    <div class="m-wrapper">
      <user-add-slider-wishes  :data="sliderList"/>
    </div>

    <template v-for="(wish, i) in wishTemplate">
      <div class="m-wrapper">
        <main-wish-template  :key="i" :data="wish"/>
      </div>
    </template>

    <div class="m-wrapper add-btn">
      <upload-btn />
    </div>

    <div class="m-wrapper">
      <main-category />
    </div>

  </section>
</template>

<script lang="ts">
import {Vue, Component} from "nuxt-property-decorator";
import UserWishButtons from "~/components/users/user-wish-buttons.vue";
import UserAddSliderWishes from "~/components/users/user-add-slider-wishes.vue";
import {sliderList} from "@/assets/data/user-main/user-add-wishes-slider.json"
import {wishTemplate} from "assets/data/user-main/user-wish-template.json";
import MainWishTemplate from "~/components/main/main-wish-template.vue";
import UploadBtn from "~/components/elementary/upload-btn.vue";
import MainCategory from "~/components/categories/main-category.vue";

@Component({
  components: {
    UserWishButtons,
    UserAddSliderWishes,
    MainWishTemplate,
    UploadBtn,
    MainCategory
  }
})

export default class UserMainPage extends Vue {
  sliderList;
  wishTemplate;

  created() {
    this.sliderList = sliderList;
    this.wishTemplate = wishTemplate;
  }
}
</script>

<style lang="scss"
       scoped>
@import "assets/css/variables";

.user-main-page {
  padding: 30px 0;
}

.m-wrapper {
  margin-bottom: 20px;

  @include for-large() {
    padding: 20px;
  }

  @include for-small() {
    padding: 10px;
    margin-bottom: 10px;
  }

  &.add-btn {
    padding: 0px;
  }
}
</style>
