<template>
  <section class="user-private-account m-container-middle">

    <div class="m-wrapper">
      <user-rating-description :data="userRatingDescData"/>
    </div>

    <div class="m-wrapper">
      <h3 class="m-title">
        Показать </h3>
      <div class="btn-wrapper">
        <template v-for="(btn, i) in btnList">
          <m-button :btn="btn"
                    :key="i"
                    @click.native="showCategoryList(btn.category)"></m-button>
        </template>
      </div>
    </div>

    <div class="m-wrapper">
      <own-user-list v-model="userListData"></own-user-list>
    </div>

  </section>
</template>

<script lang="ts">
import {Vue, Component, Prop, mixins} from "nuxt-property-decorator";
import UserRatingDescription from "~/components/users/user-rating-description.vue";
import MButton from "~/components/elementary/m-button.vue";
import OwnUserList from "~/components/users/own-user-list.vue";

@Component({
  components: {
    UserRatingDescription,
    MButton,
    OwnUserList
  }
})

export default class UserPrivateAccount extends Vue {
  btnList: Array<any> = [
    {
      name: "Все",
      category: "all"
    },
    {
      name: "Желание",
      type: "wish",
      category: "wish"
    },
    {
      name: "Цель",
      type: "goal",
      category: "goal"
    },
    {
      name: "Идея",
      type: "idea",
      category: "idea"
    }
  ];

  userListData = [];
  userRatingDescData = {};

  created() {
    this.initData();
  }

  async initData() {
    if (process.browser) {
      this.userRatingDescData = JSON.parse(localStorage.getItem('user'));
    }

    const user = JSON.parse(localStorage.getItem('user'));
    await this.$service.users.getOwnUserList(user.id);

    this.userListData = this.$store.state.user.ownUserList;
  }

  showCategoryList(btn) {
    console.log(btn);
  }

};
</script>

<style lang="scss"
       scoped>


.user-private-account {
  padding: 30px 0;
}

.m-wrapper {
  margin-bottom: 30px;
}

.btn-wrapper {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
</style>
