<template>
  <div class="u-wb__container">
    <div class="u-wb__text">
      <p class="u-wb__text-title">
        Что у вас нового?
      </p>
    </div>
    <div class="u-wb__btns">
      <template v-for="(btn, i) in btnList">
        <m-button :btn="btn" :key="i"></m-button>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component} from "nuxt-property-decorator";
import MButton from "~/components/elementary/m-button.vue";

@Component({
  components: {
    MButton
  }
})

export default class UserWishButtons extends Vue {
  btnList: Array<any> = [
    {
      name: "Желание",
      type: "wish",
      link: "/new-wish?type=wish"
    },
    {
      name: "Цель",
      type: "goal",
      link: "/new-wish?type=goal"
    },
    {
      name: "Идея",
      type: "idea",
      link: "/new-wish?type=idea"
    }
  ];
}
</script>

<style lang="scss" scoped>
@import "assets/css/variables";

.u-wb {
  &__btns {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;

    @include for-average() {
      flex-wrap: wrap;
    }
  }

  &__text-title {
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 18px;
  }
}
</style>
