<template>
  <div class="urd"
       v-if="data">

    <div class="urd__name">
      {{ data['first_name'] + ' ' + data['last_name'] }}
    </div>

    <span class="m-border"></span>

    <div class="urd__points">

      <div class="urd__points-name">
        <h4>Мой текущий ранг</h4>
        <p>{{ userRank }}</p>
      </div>

      <div class="urd__points-value">
        <h4>Количество очков</h4>
        <p>{{ data.points }}</p>
      </div>

      <div class="urd__points-next-up">
        <h4>До следующего ранга</h4>
        <p>{{ maxPoints - data.points }}</p>
      </div>

    </div>

    <div class="urd__progress">
      <div class="urd__progress-wrapper">
        <div class="urd__progress_border">
          <span class="urd__progress_result" :style="{width: `${borderWith}%`}">
            {{data.points}}
          </span>
          <span class="urd__progress_all-way"></span>
          <span class="urd__progress_finished"></span>
        </div>
        <div class="urd__progress_name-parts">
          <div class="urd__progress_name-min">
            <h4>{{ minPoints }}</h4>
            <p>{{ userRank }}</p>
          </div>
          <div class="urd__progress_name-max">
            <h4>{{ maxPoints }}</h4>
            <p>{{  nextUserRank}}</p>
          </div>
        </div>
      </div>
    </div>

<!--    <span class="m-border"></span>-->

    <div class="urd__last-points"></div>

  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from "nuxt-property-decorator";
import {categoryPointsRule} from "~/assets/data/user-main/user-category-item.json";

@Component({
  components: {
  }
})

export default class UserRatingDescription extends Vue {
  @Prop() data;

  minPoints = null;
  maxPoints = null;
  userRank = "";
  nextUserRank = "";

  borderWith = null;

  created() {
    if (this.data.points) {
      this.getUserPoints();
      this.getBorderLength();
    }
  }

  getUserPoints() {
    categoryPointsRule.forEach(item => {
      if (this.data.points < item.max && this.data.points > item.min) {
        this.minPoints = item.min,
            this.maxPoints = item.max,
            this.userRank = item.rankMin,
            this.nextUserRank = item.rankMax;
      }
    });
  }

  getBorderLength() {
    this.borderWith = ( 100 * this.data.points) / this.maxPoints;
  }
}

</script>

<style scoped
       lang="scss">
@import "assets/css/variables";

.urd {
  &__points {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    @include for-average() {
      padding-bottom: 15px;
      flex-wrap: wrap;
    }
  }

  &__points-name,
  &__points-value,
  &__points-next-up {
    max-width: 260px;
    flex: 1 1 200px;
    padding: 15px;
    background-color: #F8F8F8;
    border-radius: 4px;

    @include for-average() {
      padding: 10px;
      margin: 0 10px 10px 0;
      flex: 1 1 150px;
    }

    &:nth-of-type(2) {
      margin: 0 10px;

      @include for-average() {
        margin: 0 10px 10px 0;
      }

    }

    h4 {
      color: #5D5F6D;
      font-weight: 400;
      font-size: 1rem;
      padding-bottom: 15px;

      @include for-average() {
        padding-bottom: 5px;
      }
    }

    p {
      font-weight: 600;
      font-size: 1rem;
      padding-bottom: 5px;
    }
  }

  &__points-name {
    color: $color-mintmain;
  }

  &__points-value,
  &__points-next-up {
    color: #FFBF62;
  }
}

// border

.urd__progress {
  &_border {
    position: relative;
    max-width: 790px;
    width: 100%;
    height: 46px;
  }

  &_result,
  &_all-way,
  &_finished {
    display: block;
    position: absolute;
    z-index: 2;
    height: 46px;
    width: 100%;
    border-radius: 4px;
  }

  &_all-way {
    background-color: #F8F8F8;
  }

  &_result {
    z-index: 3;
    max-width: 300px;
    background-color: $color-mintmain;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  &_finished {
    max-width: 4px;
    right: 0;
    z-index: 10;
    background-color: #FFBF62;
  }

  &_name-parts {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  &_name-min,
  &_name-max {
    color: #5D5F6D;

    h4 {
      font-width: 500;
      padding-bottom: 10px;
    }
  }
}
</style>



