<template>
  <nav class="un"
       v-if="!isMobile">
    <div class="un__container m-container-small">
      <div class="un__user">


          <img v-if="userData.avatar" class="un__user-icon"
               :src="userData.avatar"/>

          <img v-else class="un__user-icon"
               src="/common-icon.png">


        <div v-if="userData.points" class="un__user-rating">
          <p class="un__user-rating_inner">
            <span class="un__user-rating_title">Мой рейтинг:</span>
            <span class="un__user-rating_amount">{{ userData.points }}</span>
          </p>
        </div>

      </div>

      <div class="un__nav">
        <nav>
          <ul class="un__nav-list">
            <template v-for="item in navList">
              <nuxt-link tag="li"
                         active-class="active"
                         class="un__nav-link"
                         :to="item.link"
                         exact>
                <img :src="item.src"
                     class="un__nav-icon"/>
                <p>{{ item.name }}</p>
              </nuxt-link>
            </template>
          </ul>
          <span>
          </span>
          <!--          <span @click="showModal = !showModal">-->
          <!--            test modal-->
          <!--          </span>-->
          <m-modal :is-open="showModal"
                   :close="closeModal">
            lol
          </m-modal>

        </nav>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'nuxt-property-decorator';
import {navList} from "@/assets/data/header.json";

@Component({})
export default class UserNavigation extends Vue {
  @Prop() isMobile;

  navList = [];
  showModal: boolean = false;
  userData = {};

  created() {
    this.navList = navList;
  }

  mounted() {
    this.initData();
  }

  async initData() {
    const user = JSON.parse(localStorage.getItem('user'));
    await this.$service.users.fetchUsers(user.id);
    this.userData = user;
  }

  closeModal() {
    return this.showModal = false;
  }
}
</script>

<style lang="scss"
       scoped>
@import 'assets/css/variables';

.un {
  padding: 30px 0;

  @include for-large() {
    margin-right: 10px;
    min-width: 200px;
  }

  @include for-middle() {
    position: relative;
    min-width: 60px;
  }

  &__container {
    background-color: $color-whitemain;
    border-radius: 4px;

    @include for-middle() {
      position: fixed;
      max-width: 200px;
    }

    @include for-middle() {
      max-width: 60px;
    }
  }

  &__user {
    padding: 20px;
    border-bottom: 1px solid #ededed;

    @include for-large() {
      padding: 10px;
    }

    &-icon {
      max-width: 230px;
      width: 100%;
    }

    &-rating {
      background-color: #f8f8f8;
      border-radius: 4px;

      @include for-large() {
        display: none;
      }

      &_inner {
        margin-top: 15px;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;

        @include for-large() {
          padding: 14px 10px;
          flex-direction: column;
          display: flex;
          text-align: center;
        }
      }

      &_title {
        color: #5d5f6d;

        @include for-large() {
          display: none;
        }
      }

      &_amount {
        color: $color-mintmain;
        font-weight: 500;

        @include for-large() {
          display: none;
        }
      }
    }
  }

  &__nav {
    padding: 20px 0;

    &-link {
      color: $color-blackmain;
      font-size: 18px;
      padding: 15px 0 15px 30px;
      position: relative;
      cursor: pointer;
      transition: all 0.4s ease-out;
      display: flex;

      @include for-middle() {
        font-size: 14px;
        padding: 15px;
        justify-content: center;

        p {
          display: none;
        }
      }

      &:hover {
        color: $color-whitemain;
        background-color: $color-mintmain;
      }

      &:before {
        content: '';
        width: 3px;
        height: 100%;
        border-radius: 4px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
      }

      &.active {
        color: $color-mintmain;

        @include for-large() {
          background-color: $color-mintmain;
          color: $color-whitemain;
        }

        @media screen and (min-width: 1180px) {
          &:hover {
            color: $color-whitemain;

          }

          &:before {
            background-color: $color-mintmain;
          }
        }
      }
    }

    &-icon {
      padding-right: 20px;

      @include for-middle() {
        padding-right: 0;
      }
    }

    &-item {
      padding: 15px 0 15px 30px;
      position: relative;

      &:before {
        content: '';
        width: 3px;
        height: 100%;
        border-radius: 4px;
        position: absolute;
        left: 0;
        background-color: transparent;
        //background-color: $color-primary;
      }
    }
  }
}
</style>
