<template>
  <div>
    <h3 v-if="userSlider" class="m-title">
      Последнее, что вы добавили
    </h3>

    <slider-carousel :data="data" />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from "nuxt-property-decorator";
import SliderCarousel from "~/components/slider/slider-carousel.vue";
import MainWishTemplate from "~/components/main/main-wish-template.vue";

@Component({
  components: {
    SliderCarousel,
    MainWishTemplate
  }
})
export default class UserAddSliderWishes extends Vue {
  @Prop() data;
  @Prop() userSlider;
}

</script>



<style lang="scss" scoped>

.m-title {
  padding-bottom: 30px;
}

</style>
