<template>
  <vueper-slides class="no-shadow"
                 :visible-slides="5"
                 slide-multiple
                 :breakpoints="breakpoints"
                 :bullets="false"
                 :gap="0.5"
                 :slide-ratio="1 / 4"
                 :dragging-distance="200">
    <template v-slot:arrow-left>
      <i>
        <svg width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M12 22C6.47715 22 2 17.5229 2 12C2 6.47715 6.47715 2 12 2C17.5229 2 22 6.47715 22 12C22 17.5229 17.5229 22 12 22Z"
                fill="#F8F8F8"/>
          <path d="M13.5 16.5L9 12L13.5 7.5"
                stroke="#C6C6C6"
                stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>
      </i>

    </template>
    <vueper-slide v-for="(card, i) in data"
                  :key="i">

      <template v-slot:content>
        <slider-carousel-item :data="card"></slider-carousel-item>
      </template>

    </vueper-slide>
    <template v-slot:arrow-right>
      <i>
        <svg width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M12 22C17.5229 22 22 17.5229 22 12C22 6.47715 17.5229 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5229 6.47715 22 12 22Z"
                fill="#F8F8F8"/>
          <path d="M10.5 16.5L15 12L10.5 7.5"
                stroke="#C6C6C6"
                stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>
      </i>

    </template>
  </vueper-slides>

  <!--  <div class="slider-carousel">-->
  <!--    <div class="slider-inner">-->
  <!--      <a @click="prevPage">prev</a>-->
  <!--      <template v-for="(card, i) in data">-->
  <!--        <slider-carousel-item :data="card"></slider-carousel-item>-->
  <!--      </template>-->
  <!--      <a @click="nextPage">next</a>-->
  <!--    </div>-->

  <!--    <div class="slider-inner">-->
  <!--      <slot-->
  <!--        v-bind="{-->
  <!--          prevPage,-->
  <!--          nextPage,-->
  <!--          currentPage,-->
  <!--          pageCount,-->
  <!--        }"-->
  <!--      ></slot>-->
  <!--    </div>-->

  <!--    <slot-->
  <!--      name="navigation"-->
  <!--      v-bind="{-->
  <!--        prevPage,-->
  <!--        nextPage,-->
  <!--        currentPage,-->
  <!--        pageCount,-->
  <!--        clearTimer,-->
  <!--      }"-->
  <!--    ></slot>-->
  <!--  </div>-->
</template>

<script lang="ts">
import {Component, Prop, mixins, Vue} from "nuxt-property-decorator";
import {VueperSlides, VueperSlide} from 'vueperslides';
import SliderCarouselItem from "~/components/slider/slider-carousel-item.vue";
import 'vueperslides/dist/vueperslides.css';

@Component({
  components: {
    VueperSlides, VueperSlide, SliderCarouselItem
  }
})

export default class SliderCarousel extends Vue {
  @Prop() data;

  breakpoints = {
    1200: {
      slideRatio: 1 / 5
    },
    900: {
      visibleSlides: 3
    },
    600: {
      visibleSlides: 2,
      arrows: false
    }
  }
}
</script>

<style lang="scss"
       scoped>
.vueperslide.vueperslide--visible {
  height: fit-content;

  @media screen and (max-width: 900px) {
    display: flex;
    justify-content: center;
  }
}

::v-deep .vueperslides__parallax-wrapper {
  padding-bottom: 120px !important;
}
</style>