<template>
  <div class="s-card" :style="{'background-image': data.bg ? `url(${data.bg})` : null}">
    <div class="s-card__wrapper">
      <template v-if="data['type-card'] === 'user-card'">
        <span :class="['s-card__svg', data['type-action']]"></span>
        <p v-if="data.title" class="s-card__title">
          {{data.title}}
        </p>
      </template>

      <template v-else-if="data['type-card'] === 'friends-card'">
        <p v-if="data.title" class="s-card__title">
          {{data.title}}
        </p>
        <span :class="['s-card__svg', data['type-action']]"></span>
        <div class="s-card__img">
          <img v-if="data.img" :src="data.img" class="s-card__img-preview" />
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from "nuxt-property-decorator";

@Component({})

export default class SliderCarouselItem extends Vue {
 @Prop() data;

}
</script>

<style lang="scss" scoped>
@import "assets/css/variables";

.s-card {
  max-width: 120px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  margin: 0 10px;
  background-size: cover;
  background-position: center center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-color: #000;
    z-index: 10;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    opacity: 0.3;
  }


  &__wrapper {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  &__title {
    font-size: 14px;
    color: $color-whitemain;
  }

  &__svg {
    margin-bottom: 16px;
    display: block;
    width: 36px;
    height: 36px;
    background-size: cover;

    &.goal {
      background-image: url("../../static/img/svg/default-svg/white-svg/goal-default-white.svg");
    }

    &.idea {
      background-image: url("../../static/img/svg/default-svg/white-svg/idea-default-white.svg");
    }

    &.wish {
      background-image: url("../../static/img/svg/default-svg/white-svg/favorite-default-white.svg");
    }
  }

  &__img {
    &-preview {

    }
  }
}

</style>
