<template>
  <div>
    <vueper-slides class="no-shadow"
                   :visible-slides="5"
                   slide-multiple
                   :breakpoints="breakpoints"
                   :bullets="false"
                   :gap="0.5"
                   :slide-ratio="1 / 4"
                   :dragging-distance="200">

      <template v-slot:arrow-left>
        <i>
          <svg width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C6.47715 22 2 17.5229 2 12C2 6.47715 6.47715 2 12 2C17.5229 2 22 6.47715 22 12C22 17.5229 17.5229 22 12 22Z"
                  fill="#F8F8F8"/>
            <path d="M13.5 16.5L9 12L13.5 7.5"
                  stroke="#C6C6C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </i>

      </template>
      <vueper-slide v-for="(card, i) in data"
                    :key="i">

        <template v-slot:content>
          <slider-categories-item :data="data" />
<!--          <slider-carousel-item :data="card"></slider-carousel-item>-->
        </template>

      </vueper-slide>
      <template v-slot:arrow-right>
        <i>
          <svg width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C17.5229 22 22 17.5229 22 12C22 6.47715 17.5229 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5229 6.47715 22 12 22Z"
                  fill="#F8F8F8"/>
            <path d="M10.5 16.5L15 12L10.5 7.5"
                  stroke="#C6C6C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </i>

      </template>

    </vueper-slides>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from "nuxt-property-decorator";
import {VueperSlides, VueperSlide} from 'vueperslides';
import SliderCategoriesItem from "@/components/slider/slider-categories-item.vue"


@Component({
  components: {
    VueperSlides, VueperSlide, SliderCategoriesItem
  }
})


export default class SliderCategories extends Vue {
  @Prop() data;


  breakpoints = {
    1200: {
      slideRatio: 1 / 5
    },
    900: {
      visibleSlides: 3
    },
    600: {
      visibleSlides: 2,
      arrows: false
    }
  }

  created() {
  }
}

</script>



<style lang="scss" scoped>

.m-title {
  padding-bottom: 30px;
}

</style>
