<template>
  <div v-if="data" class="sci">
    <div class="sci__wrapper">
      <div v-if="data.length">
        <template v-for="(wish, i) in data">
          <a :key="i" class="test" >
            <input :value="wish.name" :id="wish.id" class="test_checkbox" type="checkbox" @click="updateCurrentList(wish, $event)" >
            {{wish.name}}
          </a>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Prop, Component} from "nuxt-property-decorator";

@Component({})

export default class SliderCategoriesItem extends Vue {
  @Prop() data;

  created() {
  }

}

</script>

<style lang="scss"
       scoped>

</style>