<template>
  <section class="add-wish">
  <h3 class="add-wish__title">
    <span :class="['favorite-icon', wishType]"></span>{{ titleName }}</h3>
  <div>

  <span class="m-border"></span>

  <div class="add-wish__inner">
    <div class="add-wish__left">
      <div class="add-wish__form">
        <label class="add-wish__form-label m-input-label">
          Ссылка на желание
        </label>
        <input class="add-wish__form-input m-input-form"
               placeholder="Скопируйте сюда ссылку на свое желание"
               v-model="link">
      </div>

      <div class="add-wish__form">
        <label class="add-wish__form-label m-input-label">
          Название желания<span>*</span>
        </label>
        <input class="add-wish__form-input m-input-form"
               placeholder="Введите название своего желания"
               v-model="title">
      </div>

      <div class="add-wish__form-united">
        <div class="add-wish__form-united_left">
          <label class="add-wish__form-label m-input-label">
            Стоимость
          </label>
          <div class="add-wish__form-united_input">
            <input type="number"
                   v-model="price"
                   placeholder="100-200"
                   class="add-wish__form-input m-input-form">
            <m-select :custom-style="'currency'"
                      v-model="currency"
                      :placeholder="'USD'"
                      :options="optionsForCurrency"></m-select>
          </div>
        </div>

        <div class="add-wish__form-united-right">
          <label class="add-wish__form-label m-input-label">
            Категория
          </label>
          <m-select v-model="category"
                    :placeholder="'Без категории'"
                    :options="optionsForCategory"></m-select>
        </div>

      </div>

      <div class="add-wish__form">
        <label class="add-wish__form-label m-input-label">
          Тэги
        </label>
        <input class="add-wish__form-input m-input-form"
               placeholder="Вводите тэги через пробел или запятую"
               v-model="tags">
      </div>

    </div>

    <div class="add-wish__right">
      <p class="add-wish__form-label m-input-label">Изображение</p>

      <div class="m-input-file_placeholder">
        <label>
          <input @change="onLoadNewFile"
                 type="file"
                 accept=".jpg, .png">
        </label>

        <div class="on-load-preview"
             v-if="url"
             :style="{backgroundImage: `url(${url})`}"></div>

      </div>

      <div class="add-wish__link-wrapper">

        <input class="add-wish__form-input m-input-form"
               placeholder="Введите название своего желания"
               v-model="linkForImg">

        <div class="m-input-file_button">
          <label>
            <input @change="onLoadNewFile"
                   type="file"
                   accept=".jpg, .png">
          </label>
        </div>
      </div>
      <p class="add-wish__img-size">Размер изображения не должен превышать 5Mb</p>

    </div>
  </div>

  <div class="add-wish__bottom">
    <div>
      <label class="add-wish__form-label m-input-label">
        Описание
      </label>
      <input class="add-wish__form-input m-input-form"
             placeholder="Опишите ваше желание"
             v-model="description">
    </div>

    <span class="m-border"></span>

    <div class="add-wish__last">
      <div class="add-wish__last-checkbox_wrapper">
        <template v-for="(checkbox, i) in optionsForRadioBtn">
          <div class="checkbox-container"
               :key="i">
            <label :for="`opt${i}`"
                   class="radio">
              <input type="radio"
                     v-model="view_access"
                     name="rdo"
                     :id="`opt${i}`"
                     :value="checkbox.access"
                     class="hidden"/>
              <span class="label"></span>{{ checkbox.name }}
            </label>
          </div>
        </template>
      </div>

      <m-button @click.native="addNewWish"
                :btn="btnData"></m-button>
    </div>
  </div>

  </div>
  </section>

</template>

<script lang="ts">
import {Component, Vue, Prop} from "nuxt-property-decorator";

@Component({
  components: {
  }
})

export default class AddWish extends Vue {
  @Prop() wishType;

  title = "";
  description = "";
  price;
  category;
  ['view_access'] = [];
  currency = "";

  link = "";
  wishName = "";
  cost = "";
  tags = "";
  linkForImg = "";
  selectCurrency = "";
  url = null;

  titleName = "";

  hobby

  optionsForCurrency = ['USD', 'RUB', 'EUR'];
  // TODO: add new position for category list
  // optionsForCategory = [, 'Sport', 'Food', 'Chill', 'Travel'];
  optionsForCategory = [
    {
      name: "Здоровье",
      category: "health"
    },
    {
      name: "Личный уход",
      category: "personal_care"
    },
    {
      name: "Дом",
      category: "home"
    },
    {
      name: "Техника",
      category: "technology"
    },
    {
      name: "Хобби",
      category: "hobby"
    },
  ];

  optionsForRadioBtn = [
    {
      name: "Видно всем",
      access: "everyone"
    },
    {
      name: "Друзьям",
      access: "friends"
    },
    {
      name: "Никому",
      access: "noone"
    }];

  btnData = {
    name: "Опубликовать",
    type: "coral"
  };

  created() {
    this.initData();
  }

  initData() {
    switch (this.wishType) {
      case 'wish':
        this.titleName = 'Новое желание';
        return;
      case 'goal':
        this.titleName = 'Новая цель';
        return;
      case 'idea':
        this.titleName = 'Новая идея';
        return;
    }
  }

  async addNewWish() {
    const test = {
      title: this.title,
      description: this.description,
      currency: this.currency,
      price: Number.parseInt(this.price),
      category: this.category.category,
      view_access: this.view_access
    }

    await this.$service.wish.createWish(test);
  }

  onLoadNewFile(e) {
    const file = e.target.files[0];
    this.url = URL.createObjectURL(file);
  }

}
</script>

<style lang="scss"
       scoped>
@import "assets/css/variables";

.favorite-icon {
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin-right: 20px;

  &.wish {
    background-image: url("static/img/svg/default-svg/coral-svg/favorite-default-coral.svg");
  }

  &.goal {
    background-image: url("static/img/svg/default-svg/coral-svg/goal-default-coral.svg");
  }

  &.idea {
    background-image: url("static/img/svg/default-svg/coral-svg/idea-default-coral.svg");
  }
}

.add-wish {
  &__title {
    display: flex;
    justify-content: center;
    color: $color-coralmain;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  &__link-wrapper,
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__link-wrapper {
    margin-top: 15px;

    .m-input-form {
      margin-bottom: 10px;
    }
  }

  &__left {
    max-width: 375px;
    width: 100%;
  }

  &__right {
    width: 100%;
    max-width: 375px;
  }

  &__img-size {
    font-size: 12px;
    color: #C6C6C6;
  }

  &__form-united {
    display: flex;
    justify-content: space-between;

    &_left,
    &_right {
      max-width: 180px;
      width: 100%;
    }

    &_left {
      display: flex;
      flex-direction: column;
    }

    &_input {
      display: flex;

      .add-wish__form-input.m-input-form {
        border-radius: 4px 0 0 4px;
        max-width: 100px;
      }
    }
  }


  &__last-checkbox_wrapper,
  &__last {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -10px;

    &-checkbox_wrapper {

      margin-top: 0;
    }
  }
}

.m-input-file_button {
  margin-left: 10px;
}

.m-input-file_placeholder {
  position: relative;
}

.on-load-preview {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
}
</style>
