<template>
  <section class="user-s m-container-middle">
  <div class="user-s__container m-wrapper">

  <h3 class="m-title">Настройки аккаунта</h3>

  <span class="m-border"></span>

  <div class="user-s__inner">
    <div class="user-s__left">

      <h4 class="m-subtitle">Ваше фото</h4>

      <div class="m-input-file_placeholder">
        <label>
          <input @change="onLoadNewFile"
                 type="file"
                 accept=".jpg, .png">
        </label>

        <div class="on-load-preview"
             v-if="url"
             :style="{backgroundImage: `url(${url})`}"></div>

      </div>

      <div class="add-wish__link-wrapper">

        <div class="m-input-file_button">
          <label>

            <input @change="onLoadNewFile"
                   type="file"
                   accept=".jpg, .png">
          </label>
        </div>
      </div>

    </div>
    <div class="user-s__right">

      <div class="user-s__info">

        <div>
          <label class="add-wish__form-label m-input-label m-subtitle">
            Имя
          </label>
          <input class="add-wish__form-input m-input-form"
                 placeholder="Введите ваше имя"
                 v-model="first_name">
        </div>

        <div>
          <label class="add-wish__form-label m-input-label m-subtitle">
            Фамилия
          </label>
          <input class="add-wish__form-input m-input-form"
                 placeholder="Введите вашу фамилию"
                 v-model="last_name">
        </div>

        <div>
          <label class="add-wish__form-label m-input-label m-subtitle">
            Никнейм
          </label>
          <input class="add-wish__form-input m-input-form"
                 placeholder="Введите ваш никнейм"
                 v-model="nickname">
        </div>

        <div>
          <label class="add-wish__form-label m-input-label m-subtitle">
            Электронная почта
          </label>
          <input class="add-wish__form-input m-input-form"
                 placeholder="Введите вашу почту"
                 v-model="email">
        </div>

        <div class="user-s__hpd">
          <div class="user-s__hpd-left">
            <label class="add-wish__form-label m-input-label m-subtitle">
              Ваш пол
            </label>
            <div class="user-s__hpd-left-date">

              <m-select v-model="gender"
                        :placeholder="'Ваш пол'"
                        :options="optionsForCategory"></m-select>

            </div>

          </div>
          <div class="user-s__hpd-right">

          </div>

        </div>

      </div>

    </div>
  </div>

  <span class="m-border"></span>

  <div class="user-s__pass">
    <h3 class="m-title">Смена пароля</h3>

    <div class="user-s__pass-container">

      <div class="user-s__pass-left">
        <h4 class="m-subtitle password">Введите старый пароль</h4>
        <input :class="['m-input-form password', {error: errorPassword}, {access: accessPassword}]"
               placeholder="Please, enter your password"
               v-model="password"
               type="password">
      </div>

      <div class="user-s__pass-right">
        <h4 class="m-subtitle password">Введите новый пароль</h4>
        <input :class="['m-input-form password', {error: errorPassword}, {access: accessPassword}]"
               placeholder="Please, enter your password"
               v-model="access_password"
               type="password">
      </div>

      <m-button @click.native="updatePassword" :class="{disabled: !accessPassword}"
                :btn="btnData"></m-button>

      <p v-show="errorMessage" class="user-s__pass-error">
        {{errorMessage}}
      </p>

    </div>

    <span class="m-border"></span>

    <div class="user-s__bottom">

      <a class="m-subtitle delete"
         @click="deleteAccount">Удалить аккаунт</a>

      <m-button class="save-changes"
                @click.native="updateAccountData"
                :btn="btnDataDelete"></m-button>
    </div>

  </div>

  <span class="m-border"></span>

  <div>
    <!--     btns  -->

  </div>

  </div>
  </section>
</template>

<script lang="ts">
import {Vue, Component, Prop, Watch} from "nuxt-property-decorator";
import MButton from "~/components/elementary/m-button.vue";


@Component({
  components: {
    MButton
  }
})

export default class ProfileSettings extends Vue {
  url = null;
  first_name = "";
  last_name = "";
  nickname = "";
  email = "";
  gender = "";
  age = null;
  id = null;

  btnData = {
    name: "Сменить пароль",
    type: "mint"
  };

  btnDataDelete = {
    name: "Сохранить изменения",
    type: "coral"
  };

  optionsForCategory = ["Мужской", "Женский", "Другой"];

  password = "";
  access_password = "";
  errorMessage = "";
  errorPassword = false;
  errorFirstPassword = false;
  errorSecondPassword = false;

  accessFirstPassword = false;
  accessSecondPassword = false;

  accessPassword = false;

  @Watch('password')
  passwordValueChange(newVal, oldVal) {
    if (newVal !== oldVal && newVal.length >= 8) {
      if (this.password === this.access_password) {
        this.accessPassword = true;
        this.errorPassword = false;
        this.errorMessage = "";
      } else {
        this.accessPassword = false;
        this.errorMessage = "Введенные пароли не совпадают";
        this.errorPassword = true;
      }
    } else if (newVal.length < 8) {
      this.errorPassword = true;
      this.errorMessage = 'Пароля должна быть более 8 символов';
    }
  }

  @Watch('access_password')
  accessPasswordValueChange(newVal, oldVal) {
    if (newVal !== oldVal) {
      if (this.password === this.access_password) {
        this.accessPassword = true;
        this.errorPassword = false;
        this.errorMessage = "";
      } else {
        this.errorMessage = "Введенные пароли не совпадают";
        this.errorPassword = true;
        this.accessPassword = false;
      }
    } else if (newVal.length < 8) {
      this.errorPassword = true;
      this.errorMessage = 'Пароля должна быть более 8 символов';
    }
  }

  created() {
  }

  mounted() {
    this.initData();
  }

  initData() {
    if (localStorage.getItem('user') !== null) {
      const userData = JSON.parse(localStorage.getItem('user'));
      this.first_name = userData['first_name'];
      this.last_name = userData['last_name'];
      this.email = userData.email;
      this.gender = userData.gender;
      this.age = userData.age;
      this.id = userData.id;
    }
  }

  onLoadNewFile(e) {
    const file = e.target.files[0];
    this.url = URL.createObjectURL(file);
  }

  updatePassword() {
    console.log('click');
  }

  deleteAccount() {
    console.log('delete account');
  }

  async updateAccountData() {
    const userData = {
      first_name: this.first_name,
      last_name: this.last_name,
      email: this.email,
      gender: this.gender,
      age: this.age,
      id: this.id
    }

    await this.$service.users.updateUserData(userData);
  }

}
</script>

<style lang="scss"
       scoped>
@import "assets/css/variables";

.user-s {
  padding: 30px 0;

  &__inner {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-direction: column-reverse;
    }
  }

  &__left,
  &__right {
    width: 100%;
  }

  &__left {
    max-width: 285px;
    margin-right: 20px;

    @media screen and (max-width: 640px) {
      margin-right: 0;
      max-width: initial;
    }
  }

  &__right {
    max-width: 465px;

    @media screen and (max-width: 640px) {
      max-width: initial;
      margin-bottom: 20px;
    }
  }

  &__pass {
    &-container {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        align-items: flex-start;
      }

    }

    &-error {
      position: absolute;
      left: 0;
      color: #e33434;
      font-size: 12px;
      bottom: -20px;
    }

    &-left,
    &-right {
      max-width: 250px;
      width: 100%;

      @media screen and (max-width: 640px) {
        margin-bottom: 20px;
      }
    }

    &-right {
      margin: 0 10px;

      @media screen and (max-width: 640px) {
        margin-bottom: 20px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-small() {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}

.m-input-file_placeholder {
  max-width: 285px;
  height: 285px;
  margin-bottom: 20px;
}

.m-input-file_button {
  max-width: 285px;
}

.m-input-label.m-subtitle {
  padding-bottom: 0;
}

.m-title {
  padding-bottom: 0;
}

.m-subtitle.password {
  color: #5D5F6D;
}

.m-input-form.password {
  margin-bottom: 0;
}

::v-deep .m-btn-wrapper {
  margin: 0;
}

.m-subtitle.delete {
  color: $color-coralmain;
  padding-bottom: 0;
  cursor: pointer;

  @include for-small() {
    margin-top: 20px;
  }
}

.save-changes {
  width: 100%;
  max-width: 256px;
}

.m-btn-wrapper {
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

</style>