<template>
  <div class="m-wish m-container-middle">
    <div class="m-wish__inner">

      <div class="m-wish__header">
        <img v-if="data.icon"
             class="m-wish__icon"
             :src="data.icon"/>

        <div class="m-wish__title">
          <p class="m-wish__title-name">{{ data.user }}</p>
          <p class="m-wish__title-date">{{ data['date-publish'] }}</p>
        </div>


      </div>

      <div class="m-wish__body">
        <div class="m-wish__left">
          <div class="m-wish__action">
              <template v-if="data['type-action'] === 'done'">
                <p>Желание выполнено</p>

                <img src="/img/svg/default-svg/yellow-svg/done-default-yellow.svg" />
              </template>
              <template v-if="data['type-action'] === 'new-wish'">
                <p>Новое желание</p>

                <img src="/img/svg/default-svg/yellow-svg/favorite-default-yellow.svg" />
              </template>
              <template v-if="data['type-action'] === 'new-goal'">

                <p>Новая цель</p>
                <img src="/img/svg/default-svg/yellow-svg/goal-default-yellow.svg" />
              </template>
          </div>

          <p class="m-wish__cost">{{ data.cost }}</p>
          <p class="m-wish__wish-title">{{ data.title }}</p>
          <p class="m-wish__wish-category">{{ data.category }}</p>
          <div v-if="data['wish-img']"
               class="m-wish__right-mobile">
            <img class="m-wish__right-mobile-img"
                 :src="data['wish-img']"/>
          </div>

          <p class="m-wish__wish-text">{{ data.text }}</p>

          <div class="m-wish__reaction">
            <div class="m-wish__reaction-left">
              <div class="m-wish__reaction-counter">
                <img src="/img/svg/default-svg/yellow-svg/like-default-yellow.svg">
                <p>1</p>
              </div>
              <div class="m-wish__reaction-counter">
                <img src="/img/svg/default-svg/yellow-svg/comment-default-yellow.svg">
                <p>2</p>
              </div>
              <div class="m-wish__reaction-counter">
                <img src="/img/svg/default-svg/yellow-svg/repost-default-yellow.svg">
                <p>3</p>
              </div>
            </div>

            <div class="m-wish__reaction-right">
              <img src="/img/svg/default-svg/yellow-svg/bookmark-default-yellow.svg">
            </div>
          </div>
        </div>

        <div v-if="data['wish-img']"
             class="m-wish__right">
          <img class="m-wish__right-img"
               :src="data['wish-img']"/>
        </div>



      </div>

    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Prop, Component} from "nuxt-property-decorator";

@Component({})

export default class MainWishTemplate extends Vue {
  @Prop() data;

  dataSlider = [];
  dataWish = [];
}
</script>

<style lang="scss"
       scoped>
@import "assets/css/variables";

.m-wish {
  &__title,
  &__header {
    display: flex;
  }

  &__body {
    padding-top: 30px;
    display: flex;

    @include for-middle() {
      padding-top: 10px;
    }
  }

  &__left {
    padding-right: 30px;

    @include for-middle() {
      padding-right: 0;
    }
  }

  &__right {
    padding-top: 38px;

    @include for-middle() {
      display: none;
    }
  }

  &__right-mobile-img,
  &__right-img {
    max-width: 375px;
    border-radius: 4px;

    @include for-middle() {
      max-width: 270px;
    }
  }

  &__right-mobile-img {
    display: none;

    @include for-middle() {
      display: block;
      max-width: 400px;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__icon {
    max-width: 44px;
    max-height: 44px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__action {
    color: $color-yellowmain;
    display: flex;
    align-self: center;
    padding-bottom: 20px;

    img {
      margin-left: 15px;
      max-width: 16px;
      width: 100%;
    }
  }

  &__title {
    flex-direction: column;

    &-name,
    &-date {
      margin: 0;
    }

    &-name {
      font-weight: 500;
      font-size: 18px;
      padding-bottom: 10px;
    }

    &-date {
      color: #C6C6C6;
      font-size: 14px;
    }
  }

  &__cost {
    padding-bottom: 10px;
  }

  &__wish {
    &-title {
      padding-bottom: 5px;
      font-size: 18px;
      font-weight: 500;
    }

    &-category {
      color: #C6C6C6;
      padding-bottom: 20px;
    }

    &-text {
      color: #5D5F6D;
      padding-bottom: 30px;
      line-height: 140%;
    }
  }

  &__reaction {
    display: flex;
    justify-content: space-between;

    &-counter {
      display: flex;
      color: $color-yellowmain;
      padding-right: 30px;

      img {
        margin-right: 10px;
      }

      p {
        font-size: 18px;
      }
    }

    &-left {
      display: flex;
    }
  }
}
</style>
