<template>
  <section class="header">

    <div v-if="!isMobile" class="header__container m-container">
      <div class="header__logo m-container-small">
        <nuxt-link to="/">
          <img src="/header-logo.svg" />
        </nuxt-link>
      </div>


      <div class="header__inner m-container-middle">
        <div class="header__search">
          <search-form />
        </div>

          <div class="header__btn-list">
            <template v-for="item in btnList">
              <nuxt-link class="header__btn-link" :to="item.link">
                <img class="header__btn-icon" :src="item.src" />
              </nuxt-link>
            </template>
          </div>

        <div :class="['header__user', {'active': isShowList}]" @click="showList"  v-click-outside="closeMenu">
          <div class="header__user-name">
            Светлана
          </div>
          <div class="header__user-icon">
            <img class="header__user-icon_preview" src="/img/header/test-user-icon.png" />
          </div>
        </div>

      </div>

        <div class="header__btn-list_mobile">
          <template v-for="item in btnList">
            <nuxt-link class="header__btn-link" :to="item.link">
              <img class="header__btn-icon" :src="item.src" />
            </nuxt-link>
          </template>
        </div>

    </div>

    <div class="header__mobile fixed" v-else-if="isMobile">

      <div class="header__logo m-container-small">
        <nuxt-link to="/">
          <img src="/header-logo.svg" />
        </nuxt-link>
      </div>

      <div class="header__btn-list_mobile">
        <template v-for="item in btnList">
          <nuxt-link class="header__btn-link" :to="item.link">
            <img class="header__btn-icon" :src="item.src" />
          </nuxt-link>
        </template>
      </div>

      <div class="header__burger" @click="showList">
        <m-burger   />
      </div>

      <!--      Mobile burger list -->
      <div :class="['header__mobile-menu', {'is-open': isShowList === true}]" >
        <div class="header__mobile-menu_user">
          <img v-if="userData.avatar" class="header__mobile-menu_user-icon" :src="userData.avatar" />
          <img v-else src="/common-icon.png" class="header__mobile-menu_user-icon">
          <div class="header__mobile-menu_user-desc">
            <div class="header__mobile-menu_user-name">
              {{userData['first_name'] + ' ' + userData['last_name']}}
            </div>
            <div class="header__mobile-menu_user-rating">
              <p>Мой рейтинг:</p>
              <p>{{userData.points}}</p>
            </div>
          </div>
        </div>
        <div class="header__mobile-menu_nav">
          <ul class="header__mobile-menu_nav-list">
            <template v-for="(navItem, navIndex) in navList">
              <nuxt-link
                  :key="navIndex"
                  tag="li"
                  active-class="active"
                  class="header__mobile-menu_nav-link"
                  :to="navItem.link"
                  exact
              >
                <img :src="navItem.src" class="header__mobile-menu_nav-icon" />
                <p class="header__mobile-menu_nav-text">{{ navItem.name }}</p>
              </nuxt-link>
            </template>
          </ul>

        </div>


      </div>

    </div>
  </section>
</template>

<script lang="ts">
import {Component, Vue, mixins} from "nuxt-property-decorator";
import SearchForm from "~/components/main/search-form.vue";
import vClickOutside from "v-click-outside";
import HandleMedia from "~/mixins/handle-media";
import {navList, userData} from "@/assets/data/header.json";

@Component({
  components: {
    SearchForm
  },
  directives: {
    clickOutside: vClickOutside.directive
  }
})

export default class HeaderComponent extends mixins(HandleMedia) {
  btnList = [
    {
      link: "/new-wish?type=wish",
      src: "/img/header/heart.svg"
    },
    {
      link: "/new-wish?type=goal",
      src: "/img/header/goal.svg"
    },
    {
      link: "/new-wish?type=idea",
      src: "/img/header/idea.svg"
    }
  ]
  isShowList = false;
  navList = [];
  userData = {};

  created() {
    this.initData();
  }

  async initData() {
    const user = JSON.parse(localStorage.getItem('user'));
    await this.$service.users.fetchUsers(user.id);
    if (this.$store.state.user) {
      this.userData = this.$store.state.user.user;
    }
  }


  mounted() {
    this.scrollListener();
    this.navList = navList;
  }

  scrollListener() {
    let prevScrollpos = window.pageYOffset;

      window.onscroll = () => {
        let currentScrollPos = window.pageYOffset;
        const headerBorder =  document.querySelector(".header__mobile");
        const headerMobileMenu = document.querySelector(".header__mobile-menu.is-open");

        if (prevScrollpos > currentScrollPos || currentScrollPos === 0) {
          headerBorder?.classList.add('fixed');
        } else {
          headerBorder?.classList.remove('fixed');
          headerMobileMenu?.classList.remove('is-open');
          this.isShowList = false;
        }

        prevScrollpos = currentScrollPos;
      }
  }

  showList() {
    this.isShowList = !this.isShowList;
  }

  closeMenu() {
    this.isShowList = false;
  }

}
</script>

<style lang="scss" scoped>
@import "../assets/css/variables";

.header {
  padding: 20px 1rem;
  background-color: $color-mintmain;

  @include for-middle() {
    padding: 10px 1rem;
  }

  &__mobile,
  &__logo,
  &__user,
  &__inner,
  &__btn-list,
  &__btn-list_mobile,
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    justify-content: center;

    @include for-middle() {
      align-self: center;
      justify-content: left;
    }
  }

  &__btn-list_mobile,
  &__btn-list {
    max-width: 230px;
    width: 100%;
    padding: 0 0.5rem;
  }

  &__btn-list_mobile {
    max-width: 350px;
    padding: 0 2rem;

    @media screen and (min-width: 991px) {
      display: none;
    }

    @include for-middle() {
      margin: 0 auto;
    }

    @include for-average() {
      margin: 0;
    }

    @include for-small() {
      display: none;
    }
  }

  &__btn-list_mobile,
  &__user,
  &__inner {
    align-items: center;
  }

  &__inner {
    @include for-middle() {
      display: none;
    }
  }

  &__user {
    position: relative;
    cursor: pointer;

    &:before {
      content: url("/img/header/user-arrow.svg");
      position: absolute;
      right: 0;
      top: 50%;
      transition: all 0.4s ease-out;
      transform: translateY(-50%);
    }

    &.active {
      &:before {
        transform: rotate(-180deg) translateY(5px);
      }
    }

    &-name {
      color: $color-whitemain;
      font-weight: 500;
    }

    &-icon {
      padding: 0 24px;
      &_preview {
        max-width: 44px;
        width: 100%;
        border-radius: 50%;
        border: 1px solid $color-whitemain;
      }
    }
  }

  &__burger {
    display: none;

    @include for-average() {
      display: block;
    }
  }
}

.header__mobile {
  position: fixed;
  top: -80px;
  background-color: #42cdd2;
  width: 100%;
  z-index: 100;
  transition: all 0.4s ease-out;
  left: 0;
  right: 0;
  padding: 0 1rem;

  &.fixed {
    top: 0px;
  }
}

.header__mobile-menu {
  transition: all 0.3s ease-out;
  position: fixed;
  z-index: 50;
  top: -100%;
  right: 0;
  left: 0;
  background-color: $color-mintmain;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;

  @include for-small() {
    padding: 1rem 0.5rem;
  }

  &.is-open {
    top: 60px;
  }

  &_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $color-whitemain;
    padding: 0.5rem;
    height: fit-content;

    &-icon {
      max-width: 100px;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &-name {
      margin-bottom: 0.5rem;
      text-align: center;
    }

    &-rating {
      text-align: center;

      p {
        margin-bottom: 4px;
        color: #5d5f6d;
        font-size: 14px;
      }

      p:last-of-type {
        color: $color-mintmain;
        font-weight: 300;
      }
    }
  }

  &_nav {
    max-width: 380px;
    align-self: center;
    padding-left: 1rem;
  }

  &_nav-list {
    display: flex;
    flex-wrap: wrap;
  }

  &_nav-link {
    flex: 1 1 100px;
    display: flex;
    align-self: center;
    padding: 1rem;
    border-radius: 4px;
    font-size: 14px;

    &.active {
      background-color: $color-whitemain;

      .header__mobile-menu_nav-text {
        color: $color-mintmain;
      }
    }
  }

  &_nav-icon {
    margin-right: 20px;
  }
}

.m-container-small {
  @include for-middle() {
    max-width: initial;
    width: initial;
  }
}



</style>
