$base-font-size: 16px;
$base-line-height: 1.62;

$breakpoint-sm: 480px;
// 640px
$breakpoint-avg: 768px;
$breakpoint-md: 991px;
$breakpoint-lg: 1180px;


$color-whitemain: #fff;
$color-blackmain: #2F2F2F;
$color-coralmain: #FF8F79;
$color-graymain: #f4f4f4;
$color-yellowmain: #FFBF62;
$color-mintmain: #42cdd2;

$transition: (
  'fast-out-slow-in': cubic-bezier(0.4, 0, 0.2, 1),
  'linear-out-slow-in': cubic-bezier(0, 0, 0.2, 1),
  'fast-out-linear-in': cubic-bezier(0.4, 0, 1, 1),
  'ease-in-out': cubic-bezier(0.4, 0, 0.6, 1),
  'fast-in-fast-out': cubic-bezier(0.25, 0.8, 0.25, 1),
  'swing': cubic-bezier(0.25, 0.8, 0.5, 1)
);

$m-transition: 0.3s map-get($transition, 'swing') !default;
$m-transition-fast: 0.25s map-get($transition, 'swing') !default;

@mixin for-small {
  @media all and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin for-average {
  @media all and (max-width: $breakpoint-avg) {
    @content;
  }
}

@mixin for-middle {
  @media all and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin for-large {
  @media all and (max-width: $breakpoint-lg) {
    @content;
  }
}



