@import "normalize";
@import "variables";
@import "input";
@import "custom";

html {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-stretch: normal;
}

ul,li { list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

.error-message {
  font-size: 12px;
  color: #e33434;
  text-align: left;
}

.disabled {
  color: #e33434;
  pointer-events: none;
}