<template>
  <div>
    <vueper-slides class="no-shadow"
                   :visible-slides="5"
                   slide-multiple
                   :breakpoints="breakpoints"
                   :bullets="false"
                   :gap="0.5"
                   :slide-ratio="1 / 4"
                   :dragging-distance="200">

      <template v-slot:arrow-left>
        <i>
          <svg width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C6.47715 22 2 17.5229 2 12C2 6.47715 6.47715 2 12 2C17.5229 2 22 6.47715 22 12C22 17.5229 17.5229 22 12 22Z"
                  fill="#F8F8F8"/>
            <path d="M13.5 16.5L9 12L13.5 7.5"
                  stroke="#C6C6C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </i>

      </template>
      <vueper-slide v-for="(card, i) in data"
                    :key="i">

        <template v-slot:content>
          <div :key="i"
               class="c-card__wrapper">
            <input :value="card.name"
                   :id="card.id"
                   class="c-card__checkbox"
                   type="checkbox"
                   :card-type="card.type"
                   @click="updateCurrentList(card, $event)">
            <div :class="['c-card__front', { active: cardActive }]">
                  <span :class="['c-card__icon', card.type]"
                        :style="{'background-image': card.active ?
                        `url(${card['img-active']})` : `url(${card['img-default']})`}"></span>
              <h4 class="c-card__text">
                {{ card.name }} </h4>
            </div>
          </div>
        </template>

      </vueper-slide>
      <template v-slot:arrow-right>
        <i>
          <svg width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C17.5229 22 22 17.5229 22 12C22 6.47715 17.5229 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5229 6.47715 22 12 22Z"
                  fill="#F8F8F8"/>
            <path d="M10.5 16.5L15 12L10.5 7.5"
                  stroke="#C6C6C6"
                  stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </i>

      </template>

    </vueper-slides>

  </div>
</template>

<script lang="ts">
import {Vue, Prop, Component, Watch} from "nuxt-property-decorator";
import {VueperSlides, VueperSlide} from 'vueperslides';
import 'vueperslides/dist/vueperslides.css';
import SliderCarouselItem from "~/components/slider/slider-carousel-item.vue";

@Component({
  components: {
    VueperSlides, VueperSlide, SliderCarouselItem
  }
})

export default class CategorySlider extends Vue {
  @Prop() value;
  @Prop() data;
  @Prop() sliderData;

  breakpoints = {
    1200: {
      slideRatio: 1 / 5
    },
    900: {
      visibleSlides: 3
    },
    600: {
      visibleSlides: 2,
      arrows: false
    }
  }
  cardActive = false;

  @Watch('value')
  updateData(newVal, oldVal) {
    if (newVal !== oldVal) this.deleteCheckFromItem(newVal);
  }

  created() {
    // this.$service.error
  }

  updateCurrentList(wish, $event) {
    if ($event.target.checked) {
      $event.path[1].classList.add('active');
      wish.active = true;
    } else {
      $event.path[1].classList.remove('active');
      wish.active = false;
    }

    this.$emit('updateCurrentList', {wish, $event});
  };

  deleteCheckFromItem(tag) {
    tag.active = false;

    // FIXME use https://ru.vuejs.org/v2/api/index.html#vm-refs
    let allCheckbox: NodeListOf<HTMLInputElement> = (document.querySelectorAll('input[type=checkbox]'));

    for (let item of allCheckbox) {
      if (tag.name.toLowerCase() === item.value.toLowerCase() &&
          tag.id === item.id) {
        item.offsetParent.classList.remove('active');
        return item.checked = false;
      }
    }
  }
}
</script>

<style lang="scss"
       scoped>
.c-card {
  &__wrapper {
    position: relative;

    &.active {
      .c-card__text {
        color: #fff;
      }

      .c-card__front {
        background-color: #FFBF62;
      }
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 120px;
    height: 120px;
    opacity: 0;
    cursor: pointer;
  }

  &__front {
    position: absolute;
    width: 100%;
    max-width: 120px;
    height: 120px;
    background-color: #f8f8f8;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__text {
    color: #C6C6C6;
    font-size: 14px;
    line-height: 140%;
  }

  &__icon {
    width: 100%;
    max-width: 28px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 28px;
    margin: 21px 0 10px;
  }
}
</style>
