<template>
  <div>
    <search-categories @newSearchValue="test"/>
    <category-slider @updateCurrentList="updateCurrentList"
                     v-model="deleteCheckedItem"
                     :data="categorySliderItems"/>
    <upload-btn class="upload-btn"
                :title="'Показать все'"/>
    <tags-border v-model="currentCategory"
                 @deleteTag="deleteTag"/>
    <category-grid-items :data="categoryItemGrid"/>
    <span class="m-border"></span>
    <upload-btn :title="'Показать все'"/>
  </div>
</template>

<script lang="ts">
import {Vue, Component} from "nuxt-property-decorator";
import UploadBtn from "~/components/elementary/upload-btn.vue";
import CategoryGridItems from "~/components/categories/category-grid-items.vue";
import TagsBorder from "~/components/categories/tags-border.vue";
import CategorySlider from "~/components/categories/category-slider.vue";
import {categoryItem} from "~/assets/data/user-main/user-categories-slider.json";
import {categoryItemGrid} from "~/assets/data/user-main/user-category-item.json";
import SearchCategories from "~/components/categories/search-categories.vue";

@Component({
  components: {
    UploadBtn,
    CategoryGridItems,
    TagsBorder,
    CategorySlider,
    SearchCategories
  }
})
export default class MainCategory extends Vue {
  categoryItemGrid;
  currentCategory = [];
  tagsList = [];
  categorySliderItems = [];
  deleteCheckedItem = {};

  created() {
    this.categoryItemGrid = categoryItemGrid;
    this.categorySliderItems = categoryItem;
  }

  updateCurrentList(wish) {
    if (wish.$event && wish.wish) {
      wish.$event.target.checked === true ?
          this.currentCategory = [...this.currentCategory, wish.wish] :
          this.currentCategory = this.deleteItemFromArray(this.currentCategory, wish.wish);
    }
  }

  test() {
    alert('LOL')
  }

  deleteItemFromArray(arr, deleteItem) {
    return arr.filter(item => item.id !== deleteItem.id);
  }

  deleteTag(tag) {
    this.currentCategory = this.deleteItemFromArray(this.currentCategory, tag);
    this.tagsList = this.deleteItemFromArray(this.tagsList, tag);
    this.deleteCheckedItem = tag;
  }
}
</script>

<style lang="scss"
       scoped>
@import "assets/css/variables";

.upload-btn {
  padding-bottom: 1rem;

}
</style>