<template>
  <transition
      name="accordion"
      mode="out-in"
      @enter="enter"
      @after-enter="afterEnter"
      @before-leave="beforeLeave"
      @after-leave="afterLeave"
  >
    <slot></slot>
  </transition>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component({})
export default class Accordion extends Vue {
  enter(el) {
    el.style.height = el.scrollHeight + "px";
  }

  afterEnter(el) {
    this.$emit("after-open", this.$el);
    el.style.height = "";
  }

  beforeLeave(el) {
    el.style.height = el.offsetHeight + "px";
  }

  afterLeave(el) {
    el.style.height = "";
  }
}
</script>

<style lang="scss" scoped>
.accordion-enter-active,
.accordion-leave-active {
  transition-timing-function: ease;
  transition-duration: 0.3s, 0.35s;
  transition-property: opacity, height;
  will-change: opacity, height;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}
</style>
