<template>
  <div class="wrapper">
    <div @click="isClick()" :class="{cross: isShow}">
      <svg id="icon"
           viewBox="0 0 800 600">
        <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
              id="top"></path>
        <path d="M300,320 L540,320"
              id="middle"></path>
        <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
              id="bottom"
              transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
      </svg>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from "nuxt-property-decorator";

@Component({})



export default class MBurger extends Vue {
  isShow = false;

  isClick() {
    this.isShow = !this.isShow;
    if (this.isShow === true) console.log('here 1')
    if (this.isShow === true) this.$emit('isOpen');
  }
}

</script>

<style lang="scss" scoped>
@import "assets/css/variables";

body,
html,
div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  @media screen and (min-width: 991px) {
    display: none;
  }
}
#icon {
  max-width: 100px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}
path {
  fill: none;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: $color-whitemain;
  stroke-dashoffset: 0px;
}
path#top,
path#bottom {
  stroke-dasharray: 240px 950px;
}
path#middle {
  stroke-dasharray: 240px 240px;
}
.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}

.wrapper {
  max-width: 100px;
  width: 100%;

  @media screen and (min-width: 480px) {
    max-width: 100px;
    width: 100%;
  }
}
</style>
