<template>
  <div class="m-btn-wrapper">
    <nuxt-link v-if="btn.link" :to="btn.link" :class="['m-btn-link', btn.type, btn.size]">
      <template v-if="btn.type === 'default'">
        {{ btn.name }}
      </template>
      <template v-else-if="btn.type !== 'default' || btn.type !== 'select'">
        <div class="m-btn-inner">
          {{ btn.name }}
          <span class="m-btn-svg"></span>
        </div>
      </template>
    </nuxt-link>
    <a v-else :class="['m-btn-link', btn.type, btn.size]">
      {{btn.name}}
    </a>
  </div>
</template>

<script lang="ts">
import {Vue, Prop, Component} from "nuxt-property-decorator";

@Component({})

export default class MButton extends Vue {
  @Prop({default: 'default'}) btn: string;
  @Prop({default: false}) disabled;
}
</script>

<style lang="scss" scoped>
@import "assets/css/variables";

.m-btn {
  &-wrapper {
    width: 100%;
    max-width: 180px;
    margin: 10px;
  }

  &-link {
    padding: 16px 0;
    display: block;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    color: $color-coralmain;
    transition: background-color 0.4s ease-out;

    &:hover {
      background-color: $color-coralmain;
      color: $color-whitemain;
    }

    &.coral {
      background-color: $color-coralmain;
      color: #fff;

      &:hover {
        background-color: #EC8B78;
      }
    }

    &.mint {
      background-color: #43CDD2;
      color: #fff;

      &:hover {
        background-color: #39aeb3;
      }
    }

    &.default {}

    &.wish,
    &.goal,
    &.idea {
      .m-btn-inner {
        display: flex;
        justify-content: space-around;
      }

      .m-btn-svg {
        width: 18px;
        height: 18px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.wish {
      .m-btn-svg {
        background-image: url("static/img/svg/default-svg/coral-svg/favorite-default-coral.svg");
      }
    }

    &.goal {
      .m-btn-svg {
        background-image: url("static/img/svg/default-svg/coral-svg/goal-default-coral.svg");
      }
    }

    &.idea {
      .m-btn-svg {
        background-image: url("static/img/svg/default-svg/coral-svg/idea-default-coral.svg");
      }
    }

    &.select {

    }
  }
}

// Hover for wish / idea / goal btns
.m-btn-link {
  &:hover {
    &.wish {
      .m-btn-svg {
        background-image: url("../../static/img/svg/default-svg/white-svg/favorite-default-white.svg");
      }
    }

    &.idea {
      .m-btn-svg {
        background-image: url("../../static/img/svg/default-svg/white-svg/idea-default-white.svg");
      }
    }

    &.goal {
      .m-btn-svg {
        background-image: url("../../static/img/svg/default-svg/white-svg/goal-default-white.svg");
      }
    }
  }
}

.m-btn-wrapper.disabled {
  a {
    opacity: 0.6;
    border: 1px solid $color-mintmain;
    background: red;
  }
}
</style>
