<template>
  <portal v-if="portal"
          :to="to">
    <transition name="fade">
      <div v-if="isOpen"
           class="modal__wrapper"
           :class="className">
        <div class="modal__overlay"
             @click="close()"></div>
        <div class="modal">
          <div class="modal__close-btn"
               @click="close()"></div>
          <slot></slot>
        </div>
      </div>
    </transition>
  </portal>
</template>

<script lang="ts">
import {Vue, Prop, Component} from "nuxt-property-decorator";

@Component({})

export default class MModal extends Vue {
  @Prop() isOpen: any;
  @Prop({default: null}) className: any;
  @Prop() close: any;
  @Prop({default: true}) portal: boolean | undefined;
  @Prop({default: 'modal'}) to: string | undefined;

  handleClose() {
    this.close();
  }
}
</script>

<style lang="scss"
       scoped>
@import "~assets/css/variables";

.modal {
  position: relative;
  z-index: 100;
  display: inline-block;
  box-sizing: border-box;
  max-width: 80%;
  margin: 20px 0;
  padding: 24px 45px;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 4px;
  user-select: text;

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 12px;
    overflow: auto;
    font-size: 1px;
    line-height: 0;
    letter-spacing: -1em;
    white-space: nowrap;
    text-align: center;
    user-select: none;

    &.video {
      > .modal {
        width: 100%;
      }
    }
  }

  &__close-btn {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 14px;
    height: 14px;
    cursor: pointer;


    &:after,
    &:before {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 18px;
      width: 2px;
      background-color: $color-whitemain;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.3;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 480px;
    padding: 32px 16px;
  }

  @media screen and (max-width: 480px) {
    margin: 0;

    &__wrapper {
      padding: 0;
    }

    .modal__close-btn {
      top: 0;
      right: 0;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  will-change: opacity;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
