<template>
  <div :class="['m-popup', {error: error}]">
    <div class="m-popup__inner">
      {{data}}
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Prop, Component} from "nuxt-property-decorator";

@Component({})
export default class MPopup extends Vue {
  @Prop() data;
  @Prop({default: false}) error: boolean;
}
</script>

<style lang="scss" scoped>
@import "assets/css/variables";

.m-popup {
  border: 1px solid $color-mintmain;
  border-radius: 4px;

  &.error {
    background-color: $color-coralmain;
    color: $color-whitemain;
  }

 &__inner {
   padding: 1rem 1.5rem;
 }
}
</style>