<template>
  <div @click.prevent="scrollToBlock(link)">
    <slot></slot>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "nuxt-property-decorator";

@Component({})
export default class MScrollTo extends Vue {
  @Prop() link;

  scrollToBlock(item) {
    const el = document.getElementById(item.replace("#to_", ""));
    if (el) {
      location.hash = item;

      const viewportY = el.getBoundingClientRect().top;
      const scrolltop = window.pageYOffset;
      window.scrollTo({ top: viewportY + scrolltop - 80, behavior: "smooth" });
    }
  }
}
</script>
