<template>
  <div v-click-outside="closeSelect"
       :class="['m-select', { active: showOptions }, customStyle]">
    <div :class="['select-main', { active: showOptions }]"
         @click="showOptions = !showOptions">
      <span>{{ placeholder && !selected ? placeholder : selected }}</span>

      <svg class="arrow"
           width="18"
           height="16"
           viewBox="0 0 18 16"
           fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M14.75 6L9.33333 11L3.91667 6"
              stroke="#AEC1DD"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </div>
    <accordion>
      <div v-show="showOptions"
           class="select-list">

        <template v-if="optionsArray.length">
          <template v-for="(item, key) in optionsArray">
            <div v-if="item !== selected"
                 :key="key"
                 class="option-item"
                 @click="select(item)">
              {{ item.name }}
            </div>
          </template>
        </template>

        <template v-else-if="!links">
          <template v-for="(item, key) in options">
            <div v-if="item !== selected"
                 :key="key"
                 class="option-item"
                 @click="select(item)">
              {{ item }}
            </div>
          </template>
        </template>

        <template v-else>
          <template v-for="(item, key) in options">
            <nuxt-link v-if="item.label !== selected"
                       :key="key"
                       class="option-item"
                       :to="item.url">{{ item.label }}
            </nuxt-link>
          </template>
        </template>
      </div>
    </accordion>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Watch, Vue} from "nuxt-property-decorator";
import vClickOutside from "v-click-outside";
import Accordion from "~/components/elementary/accordion.vue";

@Component({
  components: {Accordion},
  directives: {
    clickOutside: vClickOutside.directive,
  },
})
export default class MSelect extends Vue {
  @Prop() options;
  @Prop() value;
  @Prop() placeholder;
  @Prop({default: false}) links;
  @Prop({default: 'default'}) customStyle: string;

  optionsArray = [];
  showOptions = false;
  selected = null;

  get curPath() {
    return this.$route.path.replace(/^\/[a-z]{2}\//, "/");
  }

  @Watch("value", {immediate: true})
  onValueChange(newValue) {
    if (newValue !== this.selected) {
      typeof newValue === "object" ?
          this.selected = newValue.name : this.selected = newValue;
    }
  }

  created() {
    this.checkItemsInOptions(this.options);

    if (this.links) {
      this.selected = this.options.find(
          ({url}) => this.curPath === url
      )?.label;
    }
  }

  select(value) {
    this.$emit("input", value);
    this.showOptions = false;
  }

  checkItemsInOptions(options) {
    options.forEach(item => {
      if (typeof item === "string" || typeof item === "number") {
        return;
      } else if (typeof item === "object") {
        this.optionsArray.push(item);
      }
    })
  }

  closeSelect() {
    if (this.showOptions) {
      this.showOptions = false;
    }
  }
}
</script>

<style lang="scss"
       scoped>
.m-select {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.arrow {
  transition: 0.3s ease;
}

.m-select.active .arrow {
  transform: rotate(-180deg);
}

.select-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 38px 13px 20px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  color: #C6C6C6;
  position: relative;

  .arrow {
    position: absolute;
    right: 15px;

    path {
      stroke: #C6C6C6;
    }
  }

  &.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.select-list {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #EDEDED;
  border-top: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.option-item {
  display: block;
  padding: 0.5rem 0.875rem;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 1px solid #dde8fa;
  transition: background-color 200ms linear;

  &:hover {
    background-color: #f4f4f4;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

// custom styles
.currency {
  .select-main {
    border-radius: 0px 4px 4px 0;
    background-color: #F8F8F8;
    padding: 13px 38px 13px 15px;
    border-left: none;
    position: relative;

    &.active {
      border-radius: 0 4px 0 0;
    }
  }

  .arrow {
    position: absolute;
    right: 15px;

    path {
      stroke: #C6C6C6;
    }
  }
}
</style>
