<!--<template functional>-->
<!--  <component-->
<!--    :is="props.type === 'h' ? `h${props.level}` : 'div'"-->
<!--    :ref="data.ref"-->
<!--    v-bind="data.attrs"-->
<!--    :class="[data.class, data.staticClass]"-->
<!--    :style="[-->
<!--      {-->
<!--        color: props.color ? props.color : null,-->
<!--        'text-align': props.align ? props.align : null,-->
<!--      },-->
<!--      data.style,-->
<!--      data.staticStyle,-->
<!--    ]"-->
<!--    v-on="listeners"-->
<!--    v-html="-->
<!--      $slots.default-->
<!--        ? $slots.default.reduce(-->
<!--            (acc, item) =>-->
<!--              acc +-->
<!--              (item.text-->
<!--                ? item.text-->
<!--                    .replace(props.type === 'h' ? /<\/?p>/g : '', '')-->
<!--                    .replace(/VPN Unlimited/g, `VPN&nbsp;Unlimited`)-->
<!--                    .replace(/\u00a0/gu, `&nbsp;`)-->
<!--                : ''),-->
<!--            ''-->
<!--          )-->
<!--        : ''-->
<!--    "-->
<!--  >-->
<!--  </component>-->
<!--</template>-->
<!--<script lang="ts">-->
<!--import Vue from "vue";-->
<!--import { Component, Prop } from "nuxt-property-decorator";-->

<!--@Component({})-->
<!--export default class XText extends Vue {-->
<!--  @Prop({ default: 2 }) level: number;-->
<!--  @Prop({ default: "text" }) type: string;-->
<!--  @Prop() color: string;-->
<!--  @Prop() align: string;-->
<!--}-->
<!--</script>-->
