<template>
  <div class="wrapper">
  </div>
</template>

<script lang="ts">
import {Component, Vue} from "nuxt-property-decorator";

@Component({})

export default class MWrapper extends Vue {


}
</script>

<style lang="scss"
       scoped>
@import "~assets/css/variables";

</style>
