<template>
  <div class="up-btn m-container-middle">
    <p class="up-btn__text">{{title}}</p>
    <img src="/img/svg/default-svg/plus-default-mint.svg" />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from "nuxt-property-decorator";

@Component

export default class UploadBtn extends Vue {
  @Prop ({default: 'Загрузить ещё'}) title;
}
</script>

<style lang="scss"
       scoped>
@import "assets/css/variables";

.up-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 18px;

  @include for-average() {
    padding: 10px;
  }

  &__text {
    text-align: center;
    color: $color-mintmain;
    padding-right: 30px;

    @include for-average() {
      padding-right: 10px;
    }
  }
}

</style>
