<template>
  <section class="main">
    <div class="m-container">
      <nuxt-link to="/" class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="8"
             height="13"
             viewBox="0 0 8 13"
             fill="none">
          <path d="M6.8 0.2C6.9 0.4 7 0.6 7 0.8 7 0.9 6.9 1.1 6.8 1.3L2.1 6 6.8 10.7C6.9 10.8 6.9 10.9 6.9 11 7 11.1 7 11.2 7 11.3 7 11.4 7 11.5 7 11.5 6.9 11.6 6.9 11.7 6.8 11.8 6.7 11.9 6.6 11.9 6.5 12 6.5 12 6.4 12 6.3 12 6.2 12 6.1 12 6 11.9 5.9 11.9 5.8 11.9 5.7 11.8L0.5 6.5C0.3 6.4 0.2 6.2 0.2 6 0.2 5.8 0.3 5.6 0.5 5.5L5.7 0.2C5.9 0.1 6.1 0 6.2 0 6.4 0 6.6 0.1 6.8 0.2Z"
                fill="#5D5F6D"/>
        </svg>
        Назад
      </nuxt-link>
    </div>
    <div class="main__container m-container">
      <user-navigation/>
      <div class="m-wrapper m-container-middle add-wish_wrapper">
        <add-wish :wish-type="wishType"/>
      </div>
    </div>
  </section>

</template>

<script>
import {Vue, Prop, Component} from "nuxt-property-decorator";
import UserNavigation from "@/components/users/user-navigation";
import AddWish from "@/components/wish/add-wish";

@Component({
  components: {UserNavigation, AddWish}
})
export default class NewWishPage extends Vue {
  wishType = '';
  created() {
    this.wishType = this.$route.query.type;
  }
}
</script>

<style lang="scss"
       scoped>
.main {
  flex: 1 1 auto;
  padding: 0 1rem;
  background-color: #f4f4f4;
}

.main__container.m-container {
  display: flex;
  justify-content: space-between;
}

.add-wish_wrapper {
  margin: 30px 0;
}

.back-btn {
  padding: 30px 0 0px;
  color: #5D5F6D;
  font-weight: 400;
  display: inline-block;

  svg {
    padding-right: 20px;
  }
}
</style>